@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<h2>@_randomGuid</h2>
<h3>@_randomNumber</h3>
<h4>@_count</h4>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCountAsync">Click me</button>
<button class="btn btn-primary" @onclick="Count">Click this button</button>


@code {
    private string _randomGuid;
    private string _randomNumber;

    private int currentCount = 0;
    private int _count = 10;

    public Counter()
    {
        _randomGuid = "12";
        _randomNumber = "1";

    }


    private async Task IncrementCountAsync()
    {
        currentCount++;
        await RefreshGuidAsync();
        await RefreshNumAsync();         
    }

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task RefreshGuidAsync()
    {
        var quizClient = new HttpClient();
        quizClient.BaseAddress = new Uri("http://localhost:5271");
        var response = await quizClient.GetAsync("tests/random-guid");
        var body = await response.Content.ReadAsStringAsync();
        _randomGuid = body;    
    }

    private async Task RefreshNumAsync()
    {
        var quizNum = new HttpClient();
        quizNum.BaseAddress = new Uri("http://localhost:5271");
        var response = await quizNum.GetAsync("tests/random-number");
        var body = await response.Content.ReadAsStringAsync();
        _randomNumber = body;

    }

    private void Count()
    {
        _count++;
    }

}







