@page "/"



<h1>Hello!</h1>
<span style="font-weight: bold;">
	Welcome to the Quiz app.<br />
	In the Questions Designer section, you can create your own test questions and answers.<br />
	In the Test section, you can check your knowledge by solving the test.<br />
</span>


